<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emr.dao.Archive_MasterMapper">
    <resultMap id="BaseResultMap" type="com.emr.entity.Archive_Master">
    </resultMap>
    <select id="selectAll" resultMap="BaseResultMap">
        select top 1 * from archive_master
    </select>
</mapper>